<!doctype html>
	<html>
	<head>
		<title>Funda</title>
		<meta charset='UTF-8'>
		<link rel="stylesheet" href="/style/style.css" />
	</head>
	<body>
		<header>
			<nav>
				<a href="#home"><img src="/img/logo.svg"></a>
				<ul>
					<li><a href="">Inloggen</a></li>
					<li><a href="">Registreren</a></li>
				</ul>
			</nav>
			<div class="banner">
				<img src="/img/header-boom.svg">
				<img src="/img/header-huis.svg">
			</div>
			<form action="/results" method="post">
				<fieldset>
					<input type="radio" name="type" id="koop" value="koop" checked/>
					<label for="koop">Koop</label>
					<input type="radio" name="type" id="huur" value="huur" />
					<label for="huur">Huur</label>
					<input type="radio" name="type" id="nieuwbouw" value="nieuwbouw" />
					<label for="nieuwbouw">Nieuwbouw</label>
				</fieldset>
				<fieldset>
					<label for="woonplaats">Woonplaats:</label>
					<input type="text" name="woonplaats" id="woonplaats" />
					<label>Prijs</label>
					<label for="price_min">van:</label>
					<select name="price_min" id="price_min">
						<option name="price_min" value="0">€0</option>
						<option name="price_min" value="50000">€50.000</option>
						<option name="price_min" value="100000">€100.000</option>
						<option name="price_min" value="200000">€200.000</option>
						<option name="price_min" value="300000">€300.000</option>
						<option name="price_min" value="400000">€400.000</option>
						<option name="price_min" value="500000">€500.000</option>
					</select>
					<label for="price_max">Tot:</label>						
					<select name="price_max" id="price_max">
						<option name="price_max" value="">Geen maximum</option>
						<option name="price_max" value="300000">€300.000</option>
						<option name="price_max" value="400000">€400.000</option>
						<option name="price_max" value="500000">€500.000</option>
						<option name="price_max" value="600000">€600.000</option>
						<option name="price_max" value="700000">€700.000</option>
						<option name="price_max" value="800000">€800.000</option>
						<option name="price_max" value="900000">€900.000</option>
						<option name="price_max" value="1000000">€1.000.000</option>
						<option name="price_max" value="1250000">€1.250.000</option>
						<option name="price_max" value="1500000">€1.500.000</option>
					</select>
				<input type="submit" value="Search"></button>
				</fieldset>					
			</form>	
		</header>	