<%- include('./partials/head.ejs') %>
<h2>404</h2>
<h3>Er is iets fout gegaan</h3>

<p class='wrong'>De pagina die u heeft opgevraagd lijkt niet te bestaan. Voer een nieuwe zoekactie in en kijk of deze werkt.</p>
<%- include('./partials/foot.ejs') %>
