<%- include('./partials/head.ejs') %>
<h2>Oh No</h2>
<h3>U heeft geen internet verbinding</h3>

<p class='wrong'>Zet uw internet verbinding aan en probeer het opnieuw</p>
<%- include('./partials/foot.ejs') %>
